:root {
  --bg1: #f4ebd9;
  --bg2: #e3e3e3;
  --fg: #57786d;
  --fg-faded: #57786d9b;
}

* {
  font-family: "Averia Serif Libre", serif;
  color: var(--fg);
  border: 0px solid white;
}

#main {
  background-image: linear-gradient(180deg, var(--bg1), var(--bg2));
  color: var(--fg);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#menu {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  padding-top: 70px;
  min-width: 225px;
  /* border-right: 1px solid var(--fg); */
}

#menu-button-tray {
  display: flex;
  padding-left: 5px !important;
  margin-left: 10px !important;
  margin-top: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  border-left: 1px solid var(--fg);
  align-items: start;
}

#menu-button {
  font-size: 20px;
  border: none;
  /* mix-blend-mode: screen; */
  transition: all 0.08s ease-in-out;
  text-align: left;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 4px;
  background: transparent;
  text-decoration: none;
}

#menu-button:hover {
  cursor: pointer;
  padding-left: 12px;
}

.projects-button {
  padding-bottom: 5px !important;
}

.z-2 {
  z-index: 2;
}

#sliding-part {
  z-index: 1;
  margin: 0px;
  padding: 0px;
  transform: translateY(-0px);
}

#projects-tray {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  border-left: 1px solid var(--fg);
  font-size: 12px !important;
}

h1 {
  font-size: 36px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  background: transparent;
}

#content {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#contact {
  display: flex;
  margin-left: 150px;
  flex-direction: column;
  justify-content: center;
  margin-top: 40vh;
  padding-left: 10px;
}

.contact-tray {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid var(--fg);
}

#videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#gallery {
  border-left: 2px solid var(--fg);
  border-right: 2px solid var(--fg);
  height: 100vh;
  margin-left: 20%;
  margin-right: 8%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 18px;
  overflow: scroll;
  transition: all 0.08s ease-in-out;
}

#gallery:hover {
  box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.video {
  width: 100%;
  height: 340px;
  border-radius: 10px;
  margin-bottom: 18px;
  box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.08s ease-in-out;
}

.video:hover {
  box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0);
}

#visuals {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 8%;
  margin-left: 15%;
}

#visuals-gallery {
  border-left: 2px solid var(--fg);
  border-right: 2px solid var(--fg);
  height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 18px;
  width: 100%;
  overflow: scroll;
  transition: all 0.08s ease-in-out;
}

#visuals-gallery:hover {
  box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.3);
}

#visuals-buttons {
  display: flex;
  flex-direction: column;
  margin-right: 18px;
}

.visuals-button {
  background-color: transparent;
  transition: all 0.08s ease-in-out;
  border-radius: 10px;
  border: 1px solid transparent;
  width: 45px;
  height: 45px;
  margin-bottom: 3px;
}

.selected {
  border: 1px solid var(--fg) !important;
}

.visuals-button:hover {
  cursor: pointer;
  border: 1px solid var(--fg-faded);
  box-shadow: 0 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.visuals-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 18px;
  box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.08s ease-in-out;
}

.visuals-image:hover {
  box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0);
}

.last-button {
  padding-bottom: 0px !important;
}

@media only screen and (max-width: 800px) {
  #main {
    flex-direction: column;
    overflow: scroll;
  }

  #visuals {
    flex-direction: column;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 0px;
    margin-left: 0px;
  }

  #gallery {
    border-left: 0px;
    border-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: none !important;
    overflow: hidden;
    height: 100%;
  }

  #visuals-gallery {
    border-left: 0px;
    border-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
    box-shadow: none !important;
    overflow: hidden;
    height: 100%;
  }

  #visuals-buttons {
    flex-direction: row;
    margin-top: 15px;
  }

  .visuals-button {
    margin-right: 3px;
  }

  #contact {
    display: flex;
    margin-left: 0px;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 50px;
    padding-left: 0px;
  }
}
