{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aseem Ratha - Portfolio</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body id="main">
    <div id="menu">
      <h1 class="z-2">Aseem Ratha</h1>
      <div id="menu-button-tray">
        <a id="menu-button" class="z-2" href="/">Home</a>
        <button
          id="menu-button"
          class="projects-button z-2"
          id="menu-button"
          hx-get="/videos"
          hx-target="#content"
          hx-swap="outerHTML"
        >
          Projects
        </button>
        <div id="sliding-part">
          <div id="projects-tray">
            <button
              id="menu-button"
              hx-get="/videos"
              hx-target="#content"
              hx-swap="outerHTML"
            >
              Videos
            </button>
            <button
              id="menu-button"
              hx-get="/visuals"
              hx-target="#content"
              hx-swap="outerHTML"
            >
              Visuals
            </button>
            <button
              id="menu-button"
              hx-get="/websites"
              hx-target="#content"
              hx-swap="outerHTML"
              class="last-button"
            >
              Websites
            </button>
          </div>
          <button
            id="menu-button"
            hx-get="/contact"
            hx-target="#content"
            hx-swap="outerHTML"
            class="last-button"
          >
            Contact
          </button>
        </div>
      </div>
    </div>
    <div id="content">
      <img id="home-svg" src="/static/assets/home.svg" />
      <div class="blob noise">
        <div class="blur">
          <svg
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 310 350"
          >
            <path
              d="M156.4,339.5c31.8-2.5,59.4-26.8,80.2-48.5c28.3-29.5,40.5-47,56.1-85.1c14-34.3,20.7-75.6,2.3-111  c-18.1-34.8-55.7-58-90.4-72.3c-11.7-4.8-24.1-8.8-36.8-11.5l-0.9-0.9l-0.6,0.6c-27.7-5.8-56.6-6-82.4,3c-38.8,13.6-64,48.8-66.8,90.3c-3,43.9,17.8,88.3,33.7,128.8c5.3,13.5,10.4,27.1,14.9,40.9C77.5,309.9,111,343,156.4,339.5z"
            />
          </svg>
        </div>
      </div>
    </div>
  </body>
</html>
{{ end }}
