<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Videos</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div id="content">
      <div id="videos">
        <div id="visuals">
          <div id="visuals-buttons">
            <button>Illustrations</button>
            <button>Photos</button>
            <button>Graphics</button>
          </div>
          <div id="gallery"></div>
        </div>
      </div>
    </div>
  </body>
</html>
